{% extends "../base.html" %}
{#{% load staticfiles%}#}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Home</title>#}
{#    <link href="{% static 'player/style.css' %}" rel="stylesheet">#}
{#</head>#}
{#<body>#}
{% block content %}
    <h1>Welcome, {{ user.username }}</h1>
    There are your active games:
    <ul>
        {% for g in games %}
            <li>Game {{ g.id }}: {{ g.first_player }} vs {{ g.second_player }}</li>
        {% endfor %}
    </ul>

    <a href="{% url "player_new_invitation" %}">
        Invite another user to play a game
    </a>

    <div >
        <h3>Invitations</h3>
        {% if invitations %}
            <div class="change-list">
            {% for inv in invitations %}
                <a class="actionlist" href="{% url 'player_accept_invitation' id=inv.id %}">
                    {{ inv.from_user.username }} has invited you to a game
                </a><br />
            {% endfor %}
            </div>
        {% else %}
            <p>You have no invitation.</p>
        {% endif %}
    </div>

{% endblock %}
{#</body>#}
{#</html>#}